.header {
    background-color: rgb(178, 177, 199);
}


.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;

}

.seo {
    color: #961329;
    background-color: silver;
}

body {
    background: #e1e4e3;
    color: #253a52;
    padding: 25px;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}

.profile-image {
    border-bottom-left-radius: 90%;
    margin-inline-end: 4rem;


}

h3 {
    color: blue;
}

h4 {
    color: rebeccapurple;
}

.image {
    position: relative;
    transition: transform 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.text-block {
    opacity: 0.3;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-image:hover {
    opacity: 0.6;
}

div.image:hover {
    transform: scale(1.5)
}

.section1 {
    display: flex;
    padding-top: 50px;
    align-items: center
}

.seemywork {
    text-decoration: none;
    color: #ffffe3;
    background: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

.articles {
    display: flex;
    margin: 20px;
}

.articles {
    margin-bottom: 80xp;
}

.articles div {
    padding: 1rem;
}


div.image {
    display: inline;
    float: left;
}


@media screen and (width < 768px) {
    .section1 {
        flex-direction: row;
    }

    .profile-image {
        width: auto;
    }
}

@media screen and (width < 575px) {
    .section1 {
        flex-direction: column;
    }

    .profile-image {
        width: auto;
    }

}

@media screen and (width < 768px) {
    .articles {
        flex-direction: row;
    }

    .image {
        width: 100%;
    }

}

@media screen and (width <575px) {
    .articles {
        flex-direction: column;
    }

    #image1-card {
        width: 100%;
    }
}

footer {
    text-align: center;
    color: #961329;
}